.Main_Page_Selector{
  margin: 0 auto;
  padding: 0;
  background-color: gray;
}
.Header_wrap{
  vertical-align: middle;
  text-align: center;
  height: 40px;
  background-color: darkblue;
}
.Title_Holder{
background-color: blue;

}
/**/
.Title{
  display: inline-block;
  text-align: center;
  color: black;
  font-size: 30px;

}
.Banner_image{

color: white;
background-color: red;
vertical-align: middle;
}

#ul_top_hypers li{
    display: inline;
    list-style: none;
}
