.Main_Page_Selector{
  margin: 0 auto;
  padding: 0;
  background-color: black;
}
.Header_wrap{
  vertical-align: middle;
  text-align: left;
  height: 40px;
  background-color: darkblue;
}
.Title_Holder{
background-color: blue;

}
/**/
.Title{
  display: inline-block;
  color: white;
  text-align: left;
  font-size: 20px;

}
.Banner_image{
color: white;
background-color: red;
vertical-align: middle;
}
#Head .Body{

position: relative;
height: 45px;
border-radius: 5px;
padding: 0px 40px;
}
.Lists{
overflow: hidden;
background-color: gray;
width: 100%;

}
#Head .Lists ul li {
float: left;


}
